extends layout

block content
  h1= title
  p Bienvenido a #{title}
  a(href='https://sigpg.herokuapp.com/data') Ver datos geograficos (JSON)
  br
  a(href='https://sigpg.herokuapp.com/tabla') Ver tabla de datos